.widgets {
    flex: 0.3;
}

.widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.widgets_input input {
    border: none;
    background-color: var(--twitter-background);
}

.widgets_container {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 275px;
}

.suggestion_container {
    margin-top: 20px;
}

